* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1173px;
    width: 100%;
    margin: 0 auto;
}
.header {
    background: #FCEFE4;
    padding: 8px 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right {
    display: flex;
    gap: 20px;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menu span {
    border: 1px solid #000000;
    display: flex;
    background-color: #000000;
    width: 25px;
}
.first-section {
    position: relative;
    background: #FFF8F5;
    height: 115vh;
}

.first-section img {
    width: 100%;
}

.first__block {
    position: absolute;
    bottom: 20%;

}

.first__block--top {
    max-width: 692px;
}

.first__block--top h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.02em;
    color: #272626;
}

.sale-section {
    padding: 30px 0 80px 0;
    background: #FCEFE4;
}

.sale__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sale__block--top {
    display: flex;
}

.sbt-card-top {
    position: relative;
    display: flex;
    gap: 185px;
}

.sbt-card-top h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #272626;
}

.sbt-card-bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sbt-card h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;

    color: #8E8D6F;
}

.sbt-card h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #7EA048;
}

.sbt-card-bot button {
    background: #FFF6F2;
    border-radius: 55.0157px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    width: 175px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #443333;
}

.sbt-right {
    display: flex;
    flex-direction: column;
    gap: 213px;
    margin-left: 26px;
}

.total-section {
    background: #FCEFE4;
    padding: 80px 0;
}

.total__block h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #272626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.total__block-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.tb-1 h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #272626;
}
.tb-2 h6 {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #272626;
}
.total__block-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.tb-3 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.zero {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

color: #272626;
}
.tb-3 label {
    display: flex;
    flex-direction: column;
}
.tb-top {
    display: flex;
    gap: 6px;
    justify-content: end;
}
.tb-3 label input {
    background: #FFF6F2;
border: 0.4px solid #FD4F79;
color: #FD4F79;
}
.text-pink {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

color: #FD4F79;
}
.text-black {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: right;

color: #272626;
}
.total__block-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.tb-1 {
    display: flex;
    gap: 18px;
}
.total__block-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total__block-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tb-5 h6 {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: right;

color: #7EA048;
}
.decor-section {
    background: #FCEFE4;
    padding: 80px 0;
}
.decor__block h1 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #272626;
}
.decor__block--top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.db-top {
    display: flex;
    gap: 243px;
    margin-left: 40px;
}
.db-text {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;

color: #272626;
}
.db-text-1 {
    font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-decoration: none;
color: #8E8D6F;
}
.decor__block--center form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.decor__block--center form input {
    background: #FFF8F5;
border-radius: 45px;
font-family: 'Lato';
font-style: normal;
padding: 23px 100px 24px 45px;
font-weight: 400;
font-size: 36px;
line-height: 119.18%;
color: rgba(0, 0, 0, 0.54);
width: 770px;
height: 90px;
display: flex;
align-items: center;
border: none;
}
.decor__block--bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.decor__block--bottom button {
    background: #D7537A;
border-radius: 37px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
border: none;
width: 350px;
height: 74px;
display: flex;
align-items: center;
justify-content: center;
}
.footer {
    background: #FFF8F5;
    padding: 30px 0 50px 0;
}

.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__block h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #272626;
    margin-bottom: 24px;
}

.fb-number {
    display: flex;
    gap: 7px;
    margin-bottom: 6px;
}

.fb-number h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #272626;
}

.fb-email {
    display: flex;
    gap: 6px;
    margin-bottom: 32px;
}

.fb-email h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #272626;
}

.fb-image {
    display: flex;
    gap: 25px;
    margin-bottom: 31px;
}

.footer__block p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #272626;
}

.footer__block--top {
    display: flex;
    gap: 16px;
    margin-top: 90px;
}

.fb-top-1 {
    position: absolute;
    background: rgba(255, 248, 245, 0.85);
    border-radius: 10px 10px 0px 0px;
    top: 482.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-frame {
    width: 280px;
}

.fb-top-1 h5 {
    position: absolute;
}
.footer__block--bottom {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 60px;
}
.fb-bot-1 {
    position: absolute;
    background: rgba(255, 248, 245, 0.85);
    border-radius: 10px 10px 0px 0px;
    top: 536%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fb-bot-1 h5 {
    position: absolute;
}
@media (max-width:1460px) {
    .fb-top-1 {
        top: 432.5%;
    }
    .fb-bot-1 {
        top: 479%;
    }
}
@media (max-width:1100px) {
    .first-section {
        height: 75vh;
    }
    .fb-top-1 {
        top: 392.5%;
    }
    .fb-bot-1 {
        top: 439%;
    }
    .footer__block--top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__block--bottom {
        flex-wrap: wrap;
        justify-content: center;
        top: 484%;
    }
}
@media (max-width:730px) {
    .fb-top-1 {
        display: none;
    }
    .fb-bot-1 {
        display: none;
    }
    .sbt-card-top {
        gap: 55px;
    }
    .decor__block--center form input {
        width: 600px;
    }
    .first-section {
        height: 45vh;
    }
}
@media (max-width:570px) {
    .sbt-card-top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sbt-right {
        gap: 50px;
    }
    .sbt-card-bot {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .decor__block--center form input {
        width: 450px;
    }
}
@media (max-width:475px) {
    .db-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .sale__block--top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sbt-card-top {
        gap: 10px;
    }
    .sale-section {
        padding: 30px 0 0 0;
    }
    .decor__block--top img {
        display: none;
    }
    .db-top {
        gap: 10px;
        margin-bottom: 30px;
    }
    .decor__block--center form input {
        width: 325px;
    }
}
@media (max-width:415px) {
    .first-section {
        height: 25vh;
    }
    .first__block--top h1 {
        font-size: 45px;
    }
    .sbt-card-top h3 {
        font-size: 26px;
    }
    .total__block-2 {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .total__block-3 {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .total__block-5 {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .total-section {
        padding: 80px 0 0 0;
    }
    .total__block h1 {
        font-size: 40px;
    }
    .decor__block h1 {
        font-size: 35px;
    }
    .decor__block--center form input {
        font-size: 20px;
        padding: 23px 20px;
    }
    .decor__block--bottom button {
        font-size: 15px;
        width: 220px;
    }
    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .fb-email h5 {
        font-size: 15px;
    }
}
@media (max-width:325px) {
    .sale__block--top {
        max-width: 300px;
        width: 100%;
    }
    .decor__block--center form input {
        height: 65px;
        width: 300px;
    }
    .first-section {
        height: 21vh;
    }
}